
 <div class="wrapper"> 
      <div class="clearfix"></div>
      <div class="container_fullwidth">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="products-details">
                <div class="preview_image">
                  <div class="preview-small">
                    <img id="zoom_03" src="{{main_src}}_1.jpg" data-zoom-image="{{main_src}}_1.jpg" alt="">
                  </div>
                  <div class="thum-image">
                    <ul id="gallery_01" class="prev-thum">
                      <li>
                        <a href="#" data-image="{{main_src}}_1.jpg" data-zoom-image="{{main_src}}_1.jpg">
                          <img src="{{main_src}}_1.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="#" data-image="{{main_src}}_2.jpg" data-zoom-image="{{main_src}}_2.jpg">
                          <img src="{{main_src}}_2.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="#" data-image="{{main_src}}_3.jpg" data-zoom-image="{{main_src}}_3.jpg">
                          <img src="{{main_src}}_3.jpg" alt="">
                        </a>
                      </li>
                      <li>
                        <a href="#" data-image="{{main_src}}_4.jpg" data-zoom-image="{{main_src}}_4.jpg">
                          <img src="{{main_src}}_4.jpg" alt="">
                        </a>
                      </li>
                      
                    </ul>
                   
                  </div>
                </div>
                <div class="products-description">
                  
                  <h5 class="name"> {{main_name}} </h5>
                  <p> {{main_describe}} </p>
                  <hr class="border">
                  <div class="price">
                   Price 
                    <span class="new_price">
                      {{main_new_price}} <sup> $ </sup>
                    </span>
                   
                  </div>
                  <hr class="border">
                  <div class="row">
                    <div class="col-md-3 col-sm-3" >Xuất xứ:</div>
                    <div class="col-md-9 col-sm-9">{{main_xuatxu}}</div>
                  </div>
                  <hr class="border">
                  <div class="row">
                    <div class="col-md-3 col-sm-3" >Màu ngoại thất:</div>
                    <div class="col-md-9 col-sm-9">{{main_mau}}</div>
                  </div>
                  <hr class="border">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">Số cửa:</div>
                    <div class="col-md-9 col-sm-9">{{main_cua}}</div>
                  </div>
                  <hr class="border">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">Số chổ ngồi:</div>
                    <div class="col-md-9 col-sm-9">{{main_chongoi}}</div>
                  </div>
                  <hr class="border">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">Động cơ:</div>
                    <div class="col-md-9 col-sm-9">{{main_dongco}}</div>
                  </div>
                  <hr class="border">
                  <div class="row">
                    <div class="col-md-3 col-sm-3">Số km đã đi:</div>
                    <div class="col-md-9 col-sm-9">{{main_km}}</div>
                  </div>
                  <hr class="border">
                  <h5 class="name"style="font-weight: bold"> Thông tin liên hệ:</h5>
                  <div class="row">
                    <div style="padding: 2%" class="col-sm-4">Ông: {{main_tt}}</div>
                    <div style="padding: 2%" class="col-sm-4">Số điện thoại:    {{main_sdt}}</div>
                    <div style="padding: 2%" class="col-sm-4">Email: {{main_email}}</div>
                  </div>
                 
                  <div class="clearfix"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div id="productsDetails" class="hot-products">
                <h3 class="title">
                  <strong> Similar </strong>
                  Products
                </h3>
                <div class="control">
                  <a id="prev_hot" class="prev" href="#">
                    &lt;
                  </a>
                  <a id="next_hot" class="next" href="#">
                    &gt;
                  </a>
                </div>

                <ul id="hot">
                
                  {{{items}}}
                </ul>
              </div>
            </div>
          </div>     
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  