<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="../stylesheets/flexslider.css" type="text/css" media="screen"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="../stylesheets/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100' rel='stylesheet' type='text/css'>
    <link href="../stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="../stylesheets/sequence-looptheme.css" rel="stylesheet" media="all"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link href="../stylesheets/style.css" rel="stylesheet">   
    <link rel="stylesheet" href="../stylesheets/login-register.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sale.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">
    <link href="../stylesheets/reset-form.css" rel="stylesheet">
  </head>
  <body>
    <div class="header">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-sm-2">
              <div class="logo">
                <a href="/"><img src="../images/logo.png" alt="bonbanhShop" height="50%" width="60%" ></a>
              </div>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="header_top">
                <div class="row">
                  <div class="col-md-12">
                    <ul class="usermenu">
                      <li>
                        <a href="{{href}}" class="log" > {{state}} </a>
                      </li>
                      <li>
                        <a href="{{href_reg}}" class="reg" > {{state_reg}} </a>
                      </li>
                      <li>
                        <a href="{{href_res}}" class="reg" onclick="document.getElementById('id03').style.display='block'"> {{state_res}} </a>
                      </li>
                      <div id="id03" class="modal">
                        <form class="modal-content animate" method="POST" action="/reset">
                                            <div class="container">
                                                <label for="oldpassword"><b>Old-password</b></label>
                                                <input type="password" placeholder="Enter Password" name="oldpassword" required>
                                                <label for="newpassword"><b>New-Password</b></label>
                                                <input type="password" placeholder="Enter Password" name="newpassword" required>
                                                <button type="button">Reset-password</button>
                                                <button type="button" onclick="document.getElementById('id03').style.display='none'" class="cancelbtn">Cancel</button>
                                            </div>
                                        </form>                 
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="header_bottom">
                <ul class="option">
                  <li id="search" class="search">
                    <form><input class="search-submit" type="submit" value=""><input class="search-input" placeholder="Enter your search term..." type="text" value="" name="search"></form>
                  </li>
                </ul>
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="/#">Trang chủ</a></li>
                    <li><a href="../../">Diễn đàn</a></li>
                    <li><a href="/home-details">Tìm mua ôtô</a></li>
                    <li><a href="../../">Salon ôtô</a></li>
                    <li><a href="/sale">Bán ôtô</a></li>
                    <li><a href="/profile">My Profile</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="page-index">
         
        </div>
      </div>
    
    {{{body}}}


    <script type="text/javascript" src="../javascripts/jquery-1.10.2.min.js"></script>
	  <script type="text/javascript" src="../javascripts/jquery.easing.1.3.js"></script>
	  <script type="text/javascript" src="../javascripts/bootstrap.min.js"></script>
	  <script type="text/javascript" src="../javascripts/jquery.sequence-min.js"></script>
	  <script type="text/javascript" src="../javascripts/jquery.carouFredSel-6.2.1-packed.js"></script>
	  <script defer src="../javascripts/jquery.flexslider.js"></script>
	  <script type="text/javascript" src="../javascripts/script.min.js" ></script>
    <script type="text/javascript" src='../javascripts/jquery.elevatezoom.js'></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
  </body>
  
</html>